body {
    box-sizing: border-box;
    background-color: #fff;
    color: #2b4040;
    font-family: museo-sans, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.42857143;
    padding: 0.9375em 0.9375em 0.9375em 0.9375em;
}

header {
    border-bottom: solid 0.0625em #A6C4C4;
    margin-top: 0em;
    height: 3.1em;
}

header img:nth-of-type(1) {
    max-width: 4.125em;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
}

header nav ul {
    align-content: space-between;
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: inherit;
}

header nav ul li {
    color: #2b4040;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.7em;
    padding: 0.5em;
}

header nav ul li a {
    color: #99258D;
    text-decoration: none;
}

article {
    max-width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: solid 0.0625em;
    border-color: #A6C4C4;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

article a {
    grid-column: 1 / 4;
    grid-row: 1/ 3;
}

article a img {
    max-width: 100%;
}

.lees_verder_button {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-bottom: 1.25em;
    margin-right: 0.625em;
    border: none;
    background-color: #99258D;
    color: white;
    text-transform: uppercase;
    border-radius: 0.1875em;
    padding: 0 1em;
    font-size: 1em;
    width: 10em;
    line-height: 2em;
}

article h3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 1rem;
    padding-left: 0.9375em;
    margin-top: 0.3125em;
    margin-bottom: 0em;
    font-weight: 100;
    padding-left: 1em;
}

article footer p {
    padding-left: 1em;
    margin-top: 0em;
    margin-bottom: 0.3125em;
    font-weight: 100;
    font-size: 0.7em;
}

article footer button {
    border: none;
    color: #2b4040;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 100;
    width: 10em;
    background: white;
}

article footer button i {
    display: block !important;
    /* important want font-aweseome wil inline blocken*/
}

article footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    place-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .5rem;
}

article button {
    text-transform: uppercase;
}

article button i {
    color: #99258D;
}

form {
    background-color: #99258D;
    color: white;
}

form h3 {
    padding-top: 0.9375em;
    text-align: center;
}

form fieldset {
    text-transform: uppercase;
    border: none;
}

form fieldset label {
    text-transform: uppercase;
}

form fieldset input {
    display: none;
}

form legend:first-of-type(1) {
    border: solid 0.0625em;
    border-color: #6D105C;
    font-size: 1.15em;
}

.lees_meer_button {
    border: none;
    background-color: #99258D;
    color: white;
    text-transform: uppercase;
    line-height: 2.5em;
    border-radius: 0.1875em;
    padding: 0 1em;
    font-size: 1em;
    text-decoration: none;
}

.contact_opnemen {
    margin: -1.4375em;
    background: #F4EEE8;
    padding-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

.contact_opnemen p:first-of-type {
    margin-top: 2.5em;
    font-size: 0.88em;
    font-weight: 300;
    text-align: center;
}

.contact_opnemen p:last-of-type {
    color: #99258D;
    text-align: center;
    font-weight: 300;

}

.contact_opnemen ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: inherit;
    margin: 0em;
}

.contact_opnemen ul li a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #d0c9c2;
}
